<ion-header>
  <ion-toolbar>
    <ion-title><strong>CADASTRO</strong></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-pading">
  <div class="form">

    <ion-item>
      <ion-label position="stacked"><strong>Nome</strong></ion-label>
      <ion-input type="text" [(ngModel)]="nomecliente"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"><strong>Email</strong></ion-label>
      <ion-input  type="email" [(ngModel)]='email'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label  position="stacked"><strong>Senha</strong></ion-label>
      <ion-input placeholder="minimo 6 caracteres" type="password" [(ngModel)]='senha'></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked"><strong>CPF</strong></ion-label>
      <ion-input type="number" [(ngModel)]='cpf'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"><strong>RG</strong></ion-label>
      <ion-input type="number" [(ngModel)]='rg'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"><strong>Data</strong></ion-label>
      <ion-input type="date" [(ngModel)]='data'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" ><strong>Endereço</strong></ion-label>
      <ion-textarea placeholder="" type="text" [(ngModel)]='endereco'></ion-textarea>
    </ion-item>


      <ion-item position="stacked">
        <ion-select [(ngModel)]='genero' placeholder="Genero">
          <ion-select-option type="text">Masculino</ion-select-option>
          <ion-select-option type="text">Feminino</ion-select-option>
        </ion-select>
      </ion-item>


    <ion-item position="stacked">
      <ion-select [(ngModel)]='tipo' placeholder="Tipo Sanguíneo">
        <ion-select-option type="text">A+</ion-select-option>
        <ion-select-option type="text">B+</ion-select-option>
        <ion-select-option type="text">AB+</ion-select-option>
        <ion-select-option type="text">O+</ion-select-option>
        <ion-select-option type="text">A-</ion-select-option>
        <ion-select-option type="text">AB-</ion-select-option>
        <ion-select-option type="text">O-</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"><strong>Alergias</strong></ion-label>
      <ion-textarea type="text" [(ngModel)]='alergias'></ion-textarea>
    </ion-item>


    <ion-button (click)='cadastrar()' expand='block'>Cadastrar</ion-button>
  </div>
</ion-content>