<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>

  <form #form="ngForm" (ngSubmit)="recoverPassword(form)">
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input name="email" type="email" ngModel required></ion-input>
  </ion-item>
  <br>
  <ion-button type="submit" expand='block'>Enviar</ion-button>
  <br> 
</form>




</ion-content>
